<div class="card mb-3 animate__animated animate__zoomIn slower">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="{{img}}" class="card-img" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">{{course_title}}</h5>
          <p class="card-text">Durations :)- {{duations}}</p>
          <p class="card-text">Course Fee :)- {{fee}}&nbsp;<i class="fa fa-rupee"></i></p>
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><br>
          <a href="">View Syllabus</a>
        </div>
      </div>
    </div>
  </div>