<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5 pr-5">
    <a class="navbar-brand" href="#"><img src="assets/images/logo1.png" class="img-fluid" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink='course'>Course</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="">News</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="">Support</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="">Enrollment</a>
          </li>
          <li class="nav-item active" *ngIf="auth.userrole == 'admin' ">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="">Admin</a>
          </li>
          <li class="nav-item active" *ngIf="!auth.isloggin">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" id="signin" routerLink="/login">&nbsp;<i class="fa fa-key fa-lg"></i>&nbsp;SignIn</a>
          </li>
          <li class="nav-item active" *ngIf="!auth.isloggin">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" id="register" routerLink="/register">&nbsp;<i class="fa fa-user fa-lg"></i>&nbsp;Register</a>
          </li>
          <li class="nav-item active" *ngIf="auth.isloggin">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"  style="cursor:pointer;">Profile</a>
          </li>
          <li class="nav-item active" *ngIf="auth.isloggin">
            <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" id="register" style="cursor:pointer;" (click)="logout()">&nbsp;<i class="fa fa-user fa-lg"></i>&nbsp;Logout</a>
          </li>
      </ul>
    </div>
  </nav>

  <script>
    $('.navbar-nav>li>a').on('click', function(){
    $('.navbar-collapse').collapse('hide');
});
  </script>