<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h3>E-Education </h3>
          <img src="assets/images/logo.png" class="img-fluid" style="height: 50px; width: 50px;" alt="">
            <h2>Get In Touch</h2>
            <p>If you have any questions about the services we provide simply use the form below.
               We try and respond to all queries and comments within 24 hours.</p>
            <p><i class="fa fa-at fa-lg" style="color:rgba(247, 189, 65, 0.856);"></i>&nbsp;&nbsp;rkbk1997@gmail.com</p>
            <p><i class="fa fa-phone fa-lg" style="color:rgba(247, 189, 65, 0.856);"></i>&nbsp;&nbsp;+91 8294645709, +91 7261058757</p>
            <p><i class="fa fa-address-card fa-lg" style="color:rgba(247, 189, 65, 0.856);"></i>&nbsp;&nbsp;Patna City</p>
        </div>
        <div class="col-md-3 col-sm-12">
          <h3>Information</h3>
          <ul>
            <li>
              <a href="">About Coures</a>
            </li>
            <li>
              <a href="">About Us</a>
            </li>
            <li>
              <a href="">Jobs</a>
            </li>
            <li>
              <a href="">Placement</a>
            </li>
            <li>
              <a href="">Software Services</a>
            </li>
            <li>
              <a href="">Our Product</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12">
          <h3>Quick Link</h3>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="course">Course</a>
            </li>
            <li>
              <a href="news">News</a>
            </li>
            <li>
              <a href="about">About Us</a>
            </li>
            <li>
              <a href="support">Support</a>
            </li>
            <li>
              <a href="enroll">Enrollment</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h5>E-Education Group</h5>
        </div>
      </div>
    </div>
  </div>