<div class="Registration">
    <div class="container">
        <h1>Registration</h1>
    </div>
</div>
<div class="register">
    <div class="container">
        <h2>Register</h2>
        <div class="alert alert-success text-center" role="alert" *ngIf="successMessage === 'Successfully Register'">
            {{successMessage}}
        </div>
        <div class="alert alert-danger text-center" role="alert" *ngIf="successMessage === 'This User Already Register'">
            {{successMessage}}
        </div>
        <form #form='ngForm' (ngSubmit)="onSubmit(form.value)">
            <div class="row d-flex">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input type="text" ngModel #fname="ngModel" name="fname" required class="form-control"
                                placeholder="First Name">
                        </div>
                        <small class="text-danger" *ngIf="!fname.valid && fname.touched">Enter First Name</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input type="text" ngModel #lname="ngModel" name="lname" required class="form-control"
                                placeholder="Last Name">
                        </div>
                        <small class="text-danger" *ngIf="!lname.valid && lname.touched">Enter Last Name</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input type="text" ngModel #username='ngModel' name="username" required class="form-control"
                                placeholder="UserName">
                        </div>
                        <small class="text-danger" *ngIf="!username.valid && username.touched">Enter Username</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-at"></i></div>
                            </div>
                            <input type="email" ngModel #email="ngModel" name="email" email required
                                class="form-control" placeholder="Email">
                        </div>
                        <small class="text-danger" *ngIf="!email.valid && email.touched">Enter Valid Email It is
                            Requried</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-key"></i></div>
                            </div>
                            <input type="password" ngModel #password='ngModel' name="password1" required
                                class="form-control" placeholder="Password">
                        </div>
                        <small class="text-danger" *ngIf="!password.valid && password.touched">Enter Password</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-key"></i></div>
                            </div>
                            <input type="password" ngModel #pass='ngModel' name="password" required class="form-control"
                                placeholder="Repeat Password" (focus)='onfocus()'>
                        </div>
                        <small class="text-danger" *ngIf="!pass.valid && pass.touched">Plz Confirm Password</small>
                        <small class="text-danger">{{passwordErr}}</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                            </div>
                            <input type="number" ngModel #phone='ngModel' name="phone" required class="form-control"
                                placeholder="Contact Number" (focus)='onfocus()'>
                        </div>
                        <small class="text-danger" *ngIf="!phone.valid && phone.touched">Enter Phone Number</small>
                        <small class="text-danger">{{phoneErr}}</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <input type="date" ngModel #dob='ngModel' name="dob" required class="form-control"
                                placeholder="Date Of Birth ">
                        </div>
                        <small class="text-danger" *ngIf="!dob.valid && dob.touched">Enter Date Of Birth</small>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 mb-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-address-card"></i></div>
                            </div>
                            <textarea ngModel #address='ngModel' name="address" required class="form-control"
                                placeholder="Address"></textarea>
                        </div>
                        <small class="text-danger" *ngIf="!address.valid && address.touched">Enter Address</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-globe"></i></div>
                            </div>
                            <input type="text" ngModel #state='ngModel' name="state" required class="form-control"
                                placeholder="State">
                        </div>
                        <small class="text-danger" *ngIf="!state.valid && state.touched">Enter State</small>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-map"></i></div>
                            </div>
                            <input type="number" ngModel #pin='ngModel' name="pin" required class="form-control"
                                placeholder="Pincode">
                        </div>
                        <small class="text-danger" *ngIf="!pin.valid && pin.touched">Enter Your Zip Code</small>

                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <input type="checkbox" ngModel name="check" checked required>&nbsp;Accpet All The<a href="">Term And
                        Condition</a>
                </div>
                <div class="col-md-12 col-sm-12">
                    <input type="submit" [disabled]="!form.valid" class="btn btn-danger mb-5 mt-3" value="Register">
                </div>
            </div>
        </form>
    </div>
</div>