<div class="abouttop container w-100">
    <h1>About Us</h1>
</div>

<div class="about w-100">
    <div class="container">
        <div class="row d-flex w-100 p-0">
            <div class="col-md-6">
                <h1 class="animate__animated animate__fadeInLeft slower">About E-Education</h1>
                <p class="animate__animated animate__fadeInLeft slower">Basically E-education is a online plateform for
                    gain the knowledge and server the knowledge. we have the best top experts in IT filed for makeing
                    best path for devloping the student careers.</p>
                <button class="btn btn-danger"><i class="fa fa-send fa-lg"></i>&nbsp;&nbsp;Send Mail</button>
            </div>
            <div class="col-md-6">
                <img src="assets/images/undraw_team_spirit_hrr4.png"
                    class="img-fluid animate__animated animate__fadeInRight slower" alt="">
            </div>
        </div>
        <h2>Why We Choose Us?</h2>
        <div class="row w-100 m-0">
            <div class="col-md-6">
                <img src="assets/images/undraw_features_overview_jg7a.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <ul>
                    <li>✔ User Progress and Course Ratings</li>
                    <li>✔ Lesson Attachments and Questions</li>
                    <li>✔ Self-hosted Audio and Video Player</li>
                    <li>✔ Extended Personal User Profiles</li>
                    <li>✔ WooCommerce Plugin Integration</li>
                </ul>
            </div>
        </div>
    </div>
</div>