<div class="supporttop container">
    <h1>Support</h1>
</div>
<div class="support">
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-md-8">
              
                <div class="card mb-3 animate__animated animate__fadeInLeft slower">
                    <div class="row no-gutters w-100 m-0">
                      <div class="col-md-4">
                        <img src="../../assets/images/support/time.png" class="card-img img-fluid" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">24x7 Support</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
        
        
                  <div class="card mb-3 animate__animated animate__fadeInRight slower">
                    <div class="row no-gutters w-100 m-0">
                      <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Team Support</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../../assets/images/support/team.png" class="card-img img-fluid" alt="...">
                       
                      </div>
                    </div>
                  </div>

                  <div class="card mb-3 animate__animated animate__fadeInLeft slower">
                    <div class="row no-gutters w-100 m-0">
                      <div class="col-md-4">
                        <img src="../../assets/images/support/instant.png" class="card-img img-fluid" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Instant Support</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
        
        
                  <div class="card mb-3 animate__animated animate__fadeInRight slower">
                    <div class="row no-gutters w-100 m-0">
                      <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Chat With Us</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../../assets/images/support/activesupport.png" class="card-img img-fluid" alt="...">
                       
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card animate__animated animate__fadeInDown slower">
                    <div class="card-header">
                      Have Any Issue Write Here....
                    </div>
                    <div class="card-body">
                     <div class="form-group mb-3">
                        <label>Name</label>
                        <input type="text" class="form-control">
                     </div>
                     <div class="form-group mb-3">
                        <label>Email</label>
                        <input type="text" class="form-control">
                     </div>
                     <div class="form-group mb-3">
                        <label>Contact Number</label>
                        <input type="text" class="form-control">
                     </div>
                     <div class="form-group mb-3">
                        <label>Address</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="2"></textarea>
                     </div>
                     <div class="form-group mb-3">
                        <label>Description</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="2"></textarea>
                     </div>
                     <button class="btn btn-danger"><i class="fa fa-send"></i>&nbsp;&nbsp;Send</button>
                    </div>
                  </div>
            </div>
        </div>

   </div>
</div>