<div class="card mb-3 animate__animated animate__fadeInTopLeft slower">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{img}}" class="card-img animate__animated animate__zoomIn slower" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{course_title}}</h5>
                <p class="card-text">{{new_detail}}</p>
                <p class="card-text"><i class="fa fa-calendar"></i>&nbsp;{{started_date}}</p>
                <button class="btn btn-danger">Enroll Now</button>
            </div>
        </div>
    </div>
</div>