<div class="container enrollmenttop">
    <h1>Enrollment Form...</h1>
</div>
<div class="enrollment">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="row d-flex">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                                        </div>
                                        <input type="text" name="fname" required class="form-control"
                                            id="inlineFormInputGroup" placeholder="First Name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                                        </div>
                                        <input type="text" name="lname" required class="form-control"
                                            id="inlineFormInputGroup" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-at"></i></div>
                                        </div>
                                        <input type="email" name="email" required class="form-control"
                                            id="inlineFormInputGroup" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                        </div>
                                        <input type="text" pattern="[0-9]{10}" title="Plz Enter Valid Mobile Number"
                                            name="phone" required class="form-control" id="inlineFormInputGroup"
                                            placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                        </div>
                                        <input type="text" name="time" required class="form-control"
                                            id="inlineFormInputGroup" placeholder="Your Perferable Time">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                                        value="male" checked>
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                                        value="female">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio3"
                                        value="other">
                                    <label class="form-check-label" for="inlineRadio3">Other</label>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-university"></i></div>
                                        </div>
                                        <input type="text" name="college" required class="form-control"
                                            id="inlineFormInputGroup" placeholder="College Name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-globe"></i></div>
                                        </div>
                                        <select class="form-control" name="state" id="">
                                            <option value="0">Select College State</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-university"></i></div>
                                        </div>
                                        <select class="form-control" name="branch" id="">
                                            <option value="0">Select Your Branch</option>
                                            <option value="BCA">BCA</option>
                                            <option value="B.Sc IT">B.Sc IT</option>
                                            <option value="BE">BE</option>
                                            <option value="B.Tech">B.Tech</option>
                                            <option value="MCA">MCA</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-book"></i></div>
                                        </div>
                                        <select class="form-control" name="course" id="">
                                            <option value="0">Select Course Name</option>
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <input type="submit" class="btn btn-danger mb-3" value="Enroll Now">
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="assets/images/computer.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>