.login .container h1{
    font-family:'Roboto Slab', serif;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}
.mainlogin{
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mainlogin .container h2{
    font-family:'Roboto Slab', serif;
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.mainlogin .container a{
    text-decoration: none;
    color: black;
}
.mainlogin .container a:hover{
    color: blue;
}
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 3px rgba(255, 36, 36, 0.493);
}
.form-group{
    height: 50px;
}