<div class="profiletop container">
    <h1>Profile</h1>
</div>
<div class="profile">
    <div class="profileinner">
        <img src="../../assets/images/profile.png" class="animate__animated animate__fadeInDown slower" alt="">
        <h1>Ravi Kumar</h1>
    </div>
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-md-6">
                <div class="card animate__animated animate__fadeInLeft slower">
                    <div class="card-header">
                      Your Profile
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tr>
                                    <td>First Name</td>
                                    <td>Ravi</td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>Kumar</td>
                                </tr>
                                <tr>
                                    <td>UserName</td>
                                    <td>rkbk1997@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>rkbk1997@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>8294645709</td>
                                </tr>
                            </table>  
                        </div>
                        <button class="btn btn-danger">Edit Profile</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card animate__animated animate__fadeInRight slower">
                    <div class="card-header">
                      Active Course
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive">
                            <thead>
                                <th>S.No</th>
                                <th>Course</th>
                                <th>EnrollMent_Date</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Angular</td>
                                    <td>20-11-2020</td>
                                    <td>Active</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>React</td>
                                    <td>20-11-2020</td>
                                    <td>Active</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>React Native</td>
                                    <td>20-11-2020</td>
                                    <td>Completed</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-danger">Add More Courses</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
       
</div>